
@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');
body {
  background-image: url("back1.jpg");
  background-size: cover;
  background-attachment: fixed;
}
nav{
  margin-top: 150px;
  margin-bottom: 150px;
}
nav a, .members {
text-decoration: none;
color: #B8B8B8;
font-size: 68pt;
font-family: 'Raleway', sans-serif;


}

img {width: 100%;
}
h1{font-size: 80px;
color: #A9A9A9;;
font-family: 'Raleway', sans-serif;
}
h2{font-size: 120px;
color: #A9A9A9;;
font-family: 'Raleway', sans-serif;

}
h3{font-size: 100px;
color:#A9A9A9;;
font-family: 'Raleway', sans-serif;

}
p{color: #A9A9A9;;
font-size: 28px;
font-family: 'Raleway', sans-serif;
border-top-color:#A9A9A9;;
border-top-style: solid;
border-bottom-color:#A9A9A9;;
border-bottom-style: solid;
;
}
.intro_text {font-size: 30px;
color:#A9A9A9;;
font-family: 'Raleway', sans-serif;
border-top-color: #A9A9A9;;
border-top-style: solid;
border-bottom-color: #A9A9A9;;
border-bottom-style: solid;

}
/* A gallery grid */
.grid1-container {
  display: grid;

  grid-template-columns: 600px 600px;
  grid-column-gap: 20px;

}

.grid1-img-1 {

  grid-column: 1/2;

  grid-row: 1/2;

}

.grid1-img-2 {
  grid-column: 2/3;
  grid-row: 1/2;
}


/* End of gallery grid code */

/* Text 1 - Putting a headline and two different paragraphs in separate columns*/

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
grid-gap:3%;
}

.grid-hed {
  grid-column: 1/2;
  grid-row: 1/2;
}
.grid-img {
  grid-column: 2/3;
  grid-row: 1/2;

}
.grid-text {
  grid-column: 3/4;
  grid-row: 1/2;


}


footer {
  margin-top: 120px;
  border-top: 3px solid;
  border-color: green;

  padding-top: 10px;
  height: 150px;
}
