@media only screen and (max-width:767px){
/*what goes here?*/
body{
  background-color: pink;
}
nav a, .members, nav {
  text-align: left;
}
.grid1-container {
  grid-template-columns: 1fr;
  /* grid-column-gap and grid-row-gap let you set the spacing between grid cells. You can set them uniformly using the grid-gap property. */
  grid-column-gap: 20px;
  grid-row-gap: 30px;
}

.grid1-img-1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.grid1-img-2 {
  grid-row: 2/3;
  grid-column: 1/2;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:auto 1fr 1fr;
  grid-gap: 3%;
  margin-bottom: 100px;
}

.grid-hed {
  grid-column: 1/2;
  grid-row: 1/2;
}
.grid-img {
  grid-row: 2/3;
  grid-column: 1/2;
}
.grid-text {
  grid-row: 3/4;
  grid-column: 1/2;
}
}
