#title {
  text-align: center;
  font-size: 59px;
  margin-bottom: 10px;
}

#intro-text {
  font-size: 25px;
}

body {
  font-family: serif;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #F0F0F0;
}

nav {
  margin-top: 15px;
  margin-bottom: 100px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 18pt;
  font-weight: 400;
  font-style: normal;
  margin-right: 10px;
}

.number {
  font-size: 20px;
  margin-right: 5px;
}

nav a:hover {
  color: #c600eb;
  text-decoration: underline;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  border: 1px solid grey;
  margin-bottom: 200px;
}

.grid-text {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: .1px;
  margin-bottom: 0;
  background-color: white;
  padding-left: 7px;
  padding-right: 3px;
  border-left: .2px solid grey;
}

.grid-img {
  grid-column: 1/2;
  grid-row: 1/2;
  max-width: 100%;
  max-height: 100%;
  border-left: .2px solid grey;
}

.grid-score {
  grid-column: 3/4;
  margin-right: 5px;
  grid-row: 1/2;
  text-align: center;
  background-color: white;
  margin: 0;
  border-left: .2px solid grey;
  column-fill: auto;
}

.score1 {
  font-size: 80px;
  color: #ff8300;
}

.score2 {
  font-size: 80px;
  color: #ff8300;
}

.score3 {
  font-size: 80px;
  color: #39ff14;
}

.score4 {
  font-size: 80px;
  color: #FCE205;
}

.score5 {
  font-size: 80px;
  color: #ff073a;
}

.score6 {
  font-size: 80px;
  color: #ff8300;
}

.score7 {
  font-size: 80px;
  color: #FCE205;
}

.score8 {
  font-size: 80px;
  color: #ff8300;
}

.score9 {
  font-size: 80px;
  color: #FCE205;
}

.score10 {
  font-size: 80px;
  color: #FCE205;
}

footer {
  border-top: 3px solid;
  border-color: black;
  margin-top: 200px;
}
