@import url("https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap");

body {font-family: 'Odibee Sans', cursive;
line-height: 1.65;
font-size: 21px;
}
h1 {
  color: teal;
  color: blue;
  text-align: center;
  background-color: red;
  font-size: 40pt;
}
p{font-weight:400;

}
h2{color:red;}
i, em{font-weight: 400;}

a{color: green;
text-decoration: none;}

a:hover {background-color:red;
}

.ee {
  font-weight: 400;
  color: orange;}
.myname {font-size: 100pt;}
