@import url("https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap");

body {font-family: 'Odibee Sans', cursive;
line-height: 1.65;
}
h1 {
  color: teal;
  color: blue;
  text-align: center;
  background-color: red;
  font-size: 40pt;
}
p{font-weight:400;

}

i, em{font-weight: 400;}

a{color: teal;
text-decoration: none;}

a:hover [background-color:red;
]
