body {background-color: pink;
max-width: 500px;
margin: 0 auto;}

header{background-color: grey;
border:3px solid #f9423a;
/*padding is for the space between content and the border*/
padding: 30px;
margin: 50px;
height: 100px;
width: 400px;}

main{height: 100%;
width: 100%;
background-color: teal;
padding: 30px 50px;}


.wed {background-color: yellow;
  /*if tou have 4 values of padding, they are applied in clockwise order around the box*/
padding: 40px 20px 10px 100px;
margin: -40px 9000px 22px 13px;}

footer{background-color: green;
padding: 30px;
margin: 62;
color: blue;}
